{
  "instanceType": "c4.large",
  "keyPair": "default",
  "packageId": "app-0.1.0-SNAPSHOT",
  "packageApp": "bin/boot",

  "cluster": {
    "timeToLive": "24h",
    "groups": 3,
    "nodes": 3,
    "zeros": 18
  }
}
