{
  "instanceType": "c5.large",
  "keyPair": "default",
  "packageId": "app-0.2.0-SNAPSHOT",
  "packageApp": "bin/app",

  "cluster": {
    "timeToLive": "24h",
    "groups": 32,
    "nodes": 32,
    "brokerNum": 32,
    "zeros": 16
  }
}
