alephium {
  groups = _groups_

  clique {
    brokerNum = _groups_
  }


  broker {
    brokerId = _brokerId_
  }

  consensus {
    numZerosAtLeastInHash = _zeros_
  }

  network {
    publicAddress = "_publicAddress_:9973"
    masterAddress = "_masterAddress_:9973"
  }

  rpc {
    network.interface = "0.0.0.0"
    blockflowFetch.maxAge = 12 hours
  }

  bootstrap="_bootstrap_"
}

